.InputDiv {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
}

.InputLabel {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.2em;
}

.Input {
    min-height: 30px;
    font-size: medium;
    border-radius: 5px;
}

::placeholder {
    opacity: 0.4;
    font-size: medium;
}