.Button {
    height: 25%;
    padding: 1px 10px;
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    min-height: 30px;
}

.Button:hover {
    filter: brightness(85%);
}

.Button:disabled {
    filter: brightness(15%);
}